{% extends 'app/base.html'%}
{% load static %}
{% load pagination_tags %}


{% block main-content %}
<div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Order number</th>
          <th scope="col">Caption</th>
          <th scope="col">Name</th>
          <th scope="col">Applied time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
        </tr>
        <tr>
          <td>2</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
        </tr>
        
      </tbody>
    </table>
  </div>
        
{% endblock main-content %}