{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    
</head>
<body>
    
<section style="background-color: #eee;">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 col-sm-12 text-center">
                <h1 class="display-10">{{ post.caption }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row justify-content-left">
          <div class="col-md-6 offset-md-3">
              <div class="card mb-4 post-card">
                  <a href="{% url 'post' post_id=post.id %}">
                      <img src="{% static 'app/image/logo.jpg' %}" alt="Your Picture" class="card-img-top img-fluid">
                  </a>
              </div>
          </div>
      </div>
  </div>
  
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-left">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <div class="text-left fw-bold">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div>{{ message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <form class="mx-1 mx-md-4" method="POST" action="">
                                    {% csrf_token %} 
                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="form3Example1c">Company Name: </label>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" id="form3Example1c" class="form-control border-0" name="cname" readonly value="{{post.company_name}}" />
                                        </div>
                                    </div>
                                     
                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="form3Example3c">Contact: </label>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" id="form3Example3c" class="form-control border-0" name="uname" readonly value="{{post.contact}}" />                               
                                        </div>
                                    </div>
                  
                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <label for="inputAddress" class="form-label">Address: </label>
                                        </div>
                                        <div class="w-50">
                                            <input class="form-control border-0" type="text"  id="inputAddress" readonly value="{{post.address}}" name="addr">
                                        </div>
                                    </div>
                  
                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <label for="inputCity" class="form-label">City: </label>
                                        </div>
                                        <div class="w-50">
                                            <input class="form-control border-0" type="text"  id="inputCity" readonly placeholder="{{ post.city }}" name="city here" >
                                        </div>
                                    </div>
                  
                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <label for="floatingTextarea2">Introduction: </label>
                                        </div>
                                        <div class="w-50">
                                            <input class="form-control border-0" type="text" id="floatingTextarea2" name="intro" readonly value="{{post.introduction}}" />                               
                                        </div>
                                    </div>

                                    <!-- Additional Labels -->
                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-briefcase fa-lg me-3 fa-fw"></i>
                                            <label for="formField" class="form-label">Field: </label>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" id="formField" class="form-control border-0" name="field" readonly value="{{post.field}}" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-briefcase fa-lg me-3 fa-fw"></i>
                                            <label for="formJob" class="form-label">Job: </label>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" id="formJob" class="form-control border-0" name="job" readonly value="{{post.job}}" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-info-circle fa-lg me-3 fa-fw"></i>
                                            <label for="formJobDescription" class="form-label">Job Description: </label>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" id="formJobDescription" class="form-control border-0" name="job_description" readonly value="{{post.description}}" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-clock fa-lg me-3 fa-fw"></i>
                                            <label for="formHour" class="form-label">Hour: </label>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" id="formHour" class="form-control border-0" name="hour" readonly value="{{post.hour}}" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4 details_of_entry">
                                        <div class="w-50">
                                            <i class="fas fa-money-bill-alt fa-lg me-3 fa-fw"></i>
                                            <label for="formSalary" class="form-label">Salary: </label>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" id="formSalary" class="form-control border-0" name="salary" readonly value="{{ post.salary }}" />
                                        </div>
                                    </div>

                                   
                  
                                </form>
                                
                               
                  
                            </div>
                          
                        </div>
                        {% if user.is_job_finder %}
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <a type="apply" class="btn btn-primary btn-lg"  href="{% url 'apply' %}" >Apply</a>
                        </div>
                        {% endif %}
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Hide and Delete post-->
    {% if is_owner %}
        <hr class="my-4">
        <div class="d-grid gap-2 d-md-flex col-6 mx-auto">
            <a type="button" class="btn btn-secondary btn-lg col-sm-6" href="{% url 'home' %}">Hide Post</a>
            <a type="submit" class="btn btn-danger btn-lg col-sm-6" href="#">Delete Post</a>
        </div>
    {% endif %}
    <!-- Like and dislike buttons -->
    <div class="container">
        <div class="d-flex flex-row align-items-center mb-5 mt-5 mx-5">
            
            <form method="POST" action="{% url 'post' post.id %}">
                {% csrf_token %}

                {% if post.is_liked%}
                <button type="submit" name="action" value="like" class ="btn btn-primary btn-lg mx-2"><i class="bi bi-hand-thumbs-up-fill "></i></i> ({{ post.likes.count }})</button>
                {% else %}
                <button type="submit" name="action" value="like" class ="btn btn-secondary btn-lg mx-2"><i class="bi bi-hand-thumbs-up "></i></i> ({{ post.likes.count }})</button>
                {% endif %}

                {% if  post.is_disliked%}
                <button type="submit" name="action" value="dislike" class ="btn btn-danger btn-lg mx-2"><i class="bi bi-hand-thumbs-down-fill "></i> ({{ post.dislikes.count }})</button>
                {% else %}
                <button type="submit" name="action" value="dislike" class ="btn btn-secondary btn-lg mx-2"><i class="bi bi-hand-thumbs-down "></i></i> ({{ post.dislikes.count }})</button>
                {% endif %}
            

            </form>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 text-center">
    <!-- Comment section -->
    <h1>Comments:</h1>
    </div>
    <!-- Comment form -->
    <form method="POST" action="{% url 'post' post.id %}">
        {% csrf_token %}

        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill ">
            <p><strong>{{ comment.user.username }}</strong>
        <label for="floatingTextarea2"></label>
        <textarea name="comment_content" class=col-md-3 style="height: 35px" placeholder="Write a comment"></textarea>
        <button type="submit" name="action" value="comment" >Post Comment</button>                               
    </form>
    
    
    {% for comment in comments %}
        <div class="card mt-4">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-0"><strong>{{ comment.user.username }}</strong></h6>
                        <small class="text-muted">{{ comment.created_at|timesince }} ago</small>
                    </div>
                </div>
                <hr>
                <p>{{ comment.content }}</p>
            </div>
        </div>
    {% endfor %}

</section>

<script src="" async defer></script>
</body>

</html>

{% endblock main-content %}
