{% extends 'app/base.html'%}
{% load static %}

{% block main-content %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="container p-3 mb-2 bg-dark text-white">
            <div class="row justify-content-center mt-5">
                <div class="col-md-10 col-sm-12 text-center">
                    <h1 class="display-10">About Us Page</h1>
                    <p> We Are TouGrass</p>
                </div>
            </div>
        </div>
          
        <h2 class="text-center mt-5 p-3 mb-2">Our Team</h2>

        <div class="container mt-5">

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Le Mai Minh Quan</h5>
                            <p class="card-text lh-sm">Email : 
                                <a class="text-decoration-none" href="mailto:lmmquan21@clc.fitus.edu.vn">lmmquan21@clc.fitus.edu.vn</a>
                            </p>
                            <p class="card-text lh-sm">Student ID : 21127401</p>
                        </div>
                    </div>
                </div>
                
                <div class="col">  
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nguyen Huu Thanh Lan</h5>
                            <p class="card-text lh-sm">Email : 
                                <a class="text-decoration-none" href="mailto:nhtlan21@clc.fitus.edu.vn">nhtlan21@clc.fitus.edu.vn</a>
                            </p>
                            <p class="card-text lh-sm">Student ID : 21127520</p>
                        </div>
                    </div>
                </div>

                <div class="col">    
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vo Quang Vinh</h5>
                            <p class="card-text lh-sm">Email : 
                                <a class="text-decoration-none" href="mailto:vqvinh21@clc.fitus.edu.vn">vqvinh21@clc.fitus.edu.vn</a>
                            </p>
                            <p class="card-text lh-sm">Student ID : 21127520</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Hoang Nhat Quang</h5>
                            <p class="card-text lh-sm">Email : 
                                <a class="text-decoration-none" href="mailto:hnquang21@clc.fitus.edu.vn">hnquang21@clc.fitus.edu.vn</a>
                            </p>
                            <p class="card-text lh-sm">Student ID : 21127520</p>
                            <p class="card-text lh-sm">Role : Full Stack Developer, Tester</p>
                        </div>
                    </div>
                </div>

                <div class="col">  
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vo Duy Anh</h5>
                            <p class="card-text lh-sm">Email : 
                                <a class="text-decoration-none" href="mailto:vdanh21@clc.fitus.edu.vn">vdanh21@clc.fitus.edu.vn</a>
                            </p>
                            <p class="card-text lh-sm">Student ID : 21127520</p>
                        </div>
                    </div>
                </div>
                
            </div>

            
        
        
        </div>
        
        
    </body>
</html>

{% endblock main-content%}