{% extends 'app/base.html'%}
{% load static %}

{% block main-content %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="accordion accordion-flush w-25" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Password
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <form class="row g-3 align-items-center" action="" method='POST'>
                      <div class=" text-center fw-bold">
                        {% if messages %}
                          <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                              <div>{{ message }}</div>
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                        {% csrf_token %}
                        <div class="col-auto">
                            <label for="inputOldPassword" class="form-label">Old Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder = "Type old password" name="old_pass">
                        </div>
                    
                        <div class="col-auto">
                            <label for="inputNewPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder = "Type new password" name = "pass">
                        </div>
                    
                        <div class="col-auto">
                            <label for="inputConfirmNewPassword" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder = "Confirm new password" name ="rpass">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-lg">Change password</button>
                        </div>
                    </form>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Account
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      Delete Account
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to delete your account?</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            This will delete your account permanently and cannot be undone.
                          </div>
                          <div class="modal-footer"> 
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form action ="" method ="DELETE">
                              {% csrf_token %}
                              <button type="button" class="btn btn-danger">I want to Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>
{% endblock main-content %}